font-face {
    font-family: 'open_sansbold';
    src: url(./fonts/opensans-bold-webfont.woff2') format('woff2'),
         url(./fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url(./fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url(./fonts/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url(./fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url(./fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url(./fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url(./fonts/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'open_sansitalic';
    src: url(./fonts/opensans-italic-webfont.woff2') format('woff2'),
         url(./fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url(./fonts/opensans-light-webfont.woff2') format('woff2'),
         url(./fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight_italic';
    src: url(./fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url(./fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url(./fonts/opensans-regular-webfont.woff2') format('woff2'),
         url(./fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal; /*800*/
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url(./fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url(./fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url(./fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url(./fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "open-sans", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-hight: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    height: 100%;
}

.html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

h2, h3 {
    font-weight: bold;
}

p {
margin-top: 0;

}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 1142px;
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    background-image: url(/video-production/img/hero.jpeg), url(/video-production/img/bottom-pic.jpeg);
    background-repeat: no-repeat;
    background-position: top center, bottom right;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header-container--section {
    padding-top: 30px;
    margin-bottom: 129px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo--top {
    display: block;
    margin-right: 218px;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:hover {
    color: #FF3D00;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link--active {
    pointer-events: none;
    cursor: default;
    color: #da0100;
}


.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}

.products {
    width: 57%;
    padding-bottom: 239px;
    min-height: 330px;
}

.products__title {
    font-size: 72px;
    line-height: 98px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 8px;
}

.products__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 45px;

}

.style-button:hover {
    background: #FF3D00;
}

.style-button {
    width: 195px;
    background: #FF5500;
    border-radius: 40px;
    padding: 18px 53px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: auto;
}

.offers {
    margin-bottom: 128px;
}

.offers__feature {
    display: flex;
    justify-content: space-between;
}

.offers__pic {
    position: relative;
    margin-bottom: 30px;
}

.offers__list {
    min-height: 476px;
    display: flex;
    justify-content: space-between;
}

.offers__item {
    min-height: 476px;
    background: #FFFFFF;
    border-radius: 4px;
    width: calc(100% / 3 - 17px);
    color: #000000;
    vertical-align: top;
    padding: 35px 29px;
}

.offers__subtitle {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 24px;
}

.offers__features {
    margin-bottom: 36px;
}

.offers__text {
    margin-bottom: 34px;
}

.offers__feature-structure:last-child {
    margin-right: 0;
}

.offers__feature-structure {
    min-width: 119px;
    margin-right: 63px;
}

.uncommon-button {
    display: flex;
    justify-content: end;
}

.offers-button:hover {
    background: #FF3D00;
    color: #fff;
}

.offers-button {
    width: 195px;
    background: #fff;
    border-radius: 40px;
    padding: 18px 53px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #FF3D00;
    border: 1px #FF3D00 solid;
}

.offers__item:last-child {
    margin-right: 0;
}

.news {
    margin-bottom: 80px;
}

.news__list {
    display: flex;
    justify-content: space-between;
}

.news__content {
    position: absolute;
    bottom: 26px;
    left: 32px;
}

.news__title {
    margin-bottom: 80px;
}

time.news__date {
    padding-bottom: 13px;
    display: inline-block;
}

h2.section {
    font-size: 45px;
}

h3.news__stock {
    padding-bottom: 2px;
    font-size: 26px;
}

.news__item:first-child {
    margin-left: 0;
}

.news__item {
    position: relative;
    width: 49%; 
    margin-bottom: 80px;
    overflow: hidden;
    flex: 1;
    margin-right: 2%;

}

img.news__pic {
    width: 557px;
    height: 393px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__list {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.pagination__info {
    display: flex; 
    align-items: center;
}

.pagination__item:hover {
    color: #FF3D00;
    background: #ffffff;
    border-radius: 50%;
}

.pagination__item {
    text-align: center;
}

.pagination__item--active .pagination__link-active {
    background: #FF5500;
    color: #FFFFFF;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    
}

.button-about:hover {
    background: #FF3D00;
    color: #fff;
}

.button-about {
    width: 88px;
    background: #fff;
    border-radius: 40px;
    padding: 18px 37px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: #FF3D00;
    border: 1px #FF3D00 solid;
}

.about {
    margin-bottom: 100px;
}

img.about__content {
    width: 490px;
    height: 505px;
}

.about {
    display: flex;
}

.about:before {
    content: "";
    width: 490px;
    height: 505px;
    background: url(/video-production/img/cameraman.jpeg) center center / cover no-repeat;
    display: block;
}

.about__desc {
    padding-left: 80px;
    padding-top: 70px;
    padding-right: 202px;
    max-width: 780px;
    height: 455px;
    vertical-align: top;
    background: #FFFFFF;
    color: #000000;
    margin-left: -133px;
    margin-top: 70px;
    border-radius: 7px;
}

.about__title {
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    font-weight: 800;
    margin-bottom: 40px;
}

.about__text p {
    margin-bottom: 20px;
    text-align: inherit;
}

.about__text p:last-child {
     margin-bottom: 0;
}

.about__text {
    margin-bottom: 43px;
}

.footer-container--section {
    height: 120px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--rigt {
    align-items: flex-end;
}

.footer__logo {
    margin-right: 110px;
} 

.social {
margin-right: 74px;
}

.social__item {
    display: inline-block;
    width: 36px;
    height: 36px;
}

.footer-workhours {
    font-size: 13px;
    text-decoration: none;
    color: #9A9A9A;
}
/* servisec page */

.top-line {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background: #17191C url("/video-production/img/top-line.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
}

.container-services {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .page-title {
     font-size: 72px;
    line-height: 1;
    font-weight: bold;
 }

 .breadcrumbs__item {
     display: flex;
     align-items: center;
 }

 .breadcrumbs__list {
     display: flex;
     align-items: center;
 }

 .breadcrumbs__item:after {
     content: "/";
     color: #9A9A9A;
 }

 .breadcrumbs__item:last-child::after {
      display: none;
 }

 .breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
 }

.page-content {
    background: #fff;
    color: #303030;
    padding: 40px 0;
}

.services {
    margin-bottom: 65px;
}

.service {
    display: flex;
    margin-bottom: 50px;
}

.service:last-child {
    margin-bottom: 0;
}

.service__img {
    margin-right: 7%;
}

.service__content {
    flex: 1;
}

.services-content {
    margin-bottom: 65px;
}

.service__title {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.service__desc {
    margin-bottom: 35px;
}

.btn:hover {
    background: #FF3D00;
    color: #fff;
}

.btn {
    width: 195px;
    background: #fff;
    border-radius: 40px;
    padding: 18px 53px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #FF3D00;
    border: 1px #FF3D00 solid;
}

.inner-section {
    background: #F4F5F5;
    padding: 90px 0;
}

.inner-section-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}

.partners__item {
    margin-left: 15px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.inner-footer__container {
    padding: 45px 0;
    background: #17191C;
}

.inner-footer {
    margin-top: auto;
}