.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}

.footer__workhours {
    font-size: 11px;
    text-decoration: none;
    color: #9A9A9A;
}

.dropdown {
    position: relative;
    margin-left: 95px;
}

.dropdown:hover .dropdown__link {
    color: red;
}

.dropdown:hover .dropdown__menu {
    left: 0;
    opacity: 1;
}

.dropdown__link {
    font-size: 13px;
}

.dropdown__menu-triangle::before {
    content: "";
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: #FFFFFF;
    border-top-width: 0px;
    position: absolute;
    margin-top: -25px;
    margin-left: -40px;
} 

.dropdown__menu {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid black;
    padding: 16px;
    /* width: 160px; */
    color: black;
    border-radius: 7px;
    top: 30%;
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    left: -9999px;
    margin-left: -65px; 
}

.dropdown__menu::before {
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}

.dropdown__item{
    font-size: 13px;
}

.dropdown__list {
    text-align: left;
}

.dropdown__list-bold {
    font-weight: bold;
}