.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    transition: 1s;
}

.partners__link:hover {
    filter: grayscale(0);
    transition: 1s;
}

.partners__item {
    margin-left: 15px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}
