.services {
    margin-bottom: 55px;
}

.service {
    display: flex;
    margin-bottom: 50px;
}

.service:last-child {
    margin-bottom: 0;
}

.service__img {
    margin-right: 5%;
}

.service__img-elem {
    width: 460px;
    height: 333px;
}

.service__content {
    flex: 1;
}

.services-content {
    margin-bottom: 80px;
}

.service__title {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 14px;
}

.service__desc {
    margin-bottom: 75px;
}